<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--Spring创建IOC容器要扫描的包-->
    <context:component-scan base-package="edu.hebeu"/>

    <!--配置视图解析器-->
    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--告知去 value值对应的目录下找 ***文件 -->
        <property name="prefix" value="/WEB-INF/pages/"/>
        <!--告知文件的后缀名-->
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--配置自定义的类型转换器-->
    <bean id="conversionServiceFactoryBean" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <!--注册自定义类型转换器-->
        <property name="converters">
            <set>
                <bean class="edu.hebeu.utils.StringToDateConverter"/>
            </set>
        </property>
    </bean>

    <!--开启SpringMVC框架注解的支持;
        默认会将适配器加载进入;
        conversion-service属性：指定一个配置的自定义的类型转换器的id，将自定义类型转换器生效-->
    <mvc:annotation-driven conversion-service="conversionServiceFactoryBean"/>

</beans>